header {
    background-color: rgb(225, 240, 200);
    color: rgb(0, 0, 0);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
} 
body {
    margin: 0;
} 
.contai {
    display: flex;
    justify-content: center;
    align-items: center;
} 
.container {
    background-color: rgb( 225, 240, 200);
    display: flex;
    justify-content: center; 
    align-items: center; 
}
.menu {
    list-style-type: none;
    display: inline-flex;
    padding: 0;
} 
.menu li {
    font-family: Bahnschrift Light;
    margin-right: 25px;
} 
.menu a, .menu span {
    text-decoration: none;
    color: black;
    font-size: 15px;
    transition: font-weight 0.3s ease-in-out;
} 
.menu span {
    cursor: default;
} 
.menu img.logo {
    margin-top: -13;
    vertical-align: middle;
} 
.menu > li:last-child {
    margin-right: 0; 
} 
.menu a:hover, .menu a:focus {
    font-weight: bold;
}  
.TTC{
    Float:left;
    margin-left: 20px;
    font-family: Bahnschrift Light;
    font-size: 15px;
    color: black;
}
.salatnica{
    width: 100vw;
    height: 937px;
    background-color: rgb( 225, 240, 200);
    font-size: 13vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.salat{
   margin-top: 258px;
}
.SALA{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; 
}
.ICA{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; 
}
.быстро{
    width: 100vw;
}
.SAS{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; 
    font-size: 100px;
    margin-left: 2%;
    margin-top: 0px;
    margin-bottom: 0%;
}
.cstno{
    font-family: Bahnschrift Light;
    font-size: 35px;
    text-align: center
}
.ii{
    display: grid;
    grid-template-columns: repeat(3, minmax(0,30%));
    margin-left: 15%;
    margin-top: 6%;
}
.r{
    margin-top: 10%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px; 
}
.big-img{
    grid-row: span 2; 
    width: 100%;
    height: auto;
}
.small-img{
    width: 100%; 
    height: auto;
}
.small-imgg{
    width: 100%; 
    height: auto;
    margin-top: 1%;
}

