header {
    background-color: rgb(225, 240, 200);
    color: rgb(0, 0, 0);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
} 
body {
    margin: 0;
} 
.contai {
    display: flex;
    justify-content: center;
    align-items: center;
} 
.container {
    background-color: rgb( 225, 240, 200);
    display: flex;
    justify-content: center; 
    align-items: center; 
}
.menu {
    list-style-type: none;
    display: inline-flex;
    padding: 0;
} 
.menu li {
    font-family: Bahnschrift Light;
    margin-right: 25px;
} 
.menu a, .menu span {
    text-decoration: none;
    color: black;
    font-size: 15px;
    transition: font-weight 0.3s ease-in-out;
} 
.menu span {
    cursor: default;
} 
.menu img.logo {
    margin-top: -13;
    vertical-align: middle;
} 
.menu > li:last-child {
    margin-right: 0; 
} 
.menu a:hover, .menu a:focus {
    font-weight: bold;
}  
.TTC{
    Float:left;
    margin-left: 20px;
    font-family: Bahnschrift Light;
    font-size: 15px;
    color: black;
}
.salatnica{
    width: 100vw;
    height: 937px;
    background-color: rgb( 225, 240, 200);
    font-size: 13vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.salat{
   margin-top: 258px;
}
.SALA{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; 
}
.ICA{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; 
}
.быстро{
    width: 100vw;
}
.стрелка{
    margin-top: 800px;
    width: 90px;
    margin-left: 180px;
}
.SAS{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; 
    font-size: 60px;
    margin-left: 80px;
    margin-top: 0px;
}
.i{
    display: grid;
    grid-template-columns: 68% 1% 30% 1%;
}
.ii{
    display: grid;
    grid-template-columns: repeat(2, minmax(0,1fr));
    margin-left: 60px;
    margin-top: -50px;
}
.saaa{
    width: 100%;
    margin-top: -260px;
}
.iii{
    display: grid;
    grid-template-columns: repeat(2, minmax(0,1fr));
    margin-top: -50px;
}
.SASSS{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; 
    font-size: 60px;
    margin-left: 20px;
    margin-top: -30px;
}
.saa{
    width: 70%;
    margin-top: 30px;
    margin-left: 20px;
}
.sa{
    width: 70%;
    margin-left: 20px;
}
.nap {
    font-family: Bahnschrift Light;
    margin-right: 25px;
    margin-left: 20px;
} 
.blud{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 700px 100px;
    width: 100vw; 
}
.img1{
    margin-left: 530px;
    position: absolute;
    width: 50px;
}
.img2{
    margin-top:630px;
    margin-left: 530px;
    position: absolute;
    width: 50px;
}
.tex2{
    Float:left;
    margin-left: 20px;
    font-family: Bahnschrift Light;
    font-size: 15px;
    margin-top:650px;
    margin-left: 30px;
    color: rgb(255, 255, 255);
    position: absolute;
}
@media (max-width:800px){
    .blud{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 700px 100px 700px 100px 700px 100px;
        grid-template-areas: "fa"
        "fa"
        "ta"
        "fb"
        "tb"
        "fc"
        "tc";
        width: 100vw; 
    }
    .a1{
        grid-area: fa
    }
    .a3{
        grid-area: fb  
    }
    .a3{
        grid-area: fc 
    }
    .TTC1{
        Float:left;
        margin-left: 20px;
        font-family: Bahnschrift Light;
        font-size: 15px;
        color: black;
        grid-area:  ta
    }
    .TTC2{
        Float:left;
        margin-left: 20px;
        font-family: Bahnschrift Light;
        font-size: 15px;
        color: black;
        grid-area: tb 
    }
    .TTC3{
        Float:left;
        margin-left: 20px;
        font-family: Bahnschrift Light;
        font-size: 15px;
        color: black;
        grid-area: tc 
    }
}

